{% extends 'index.html' %}

{% block body %}

<div class="container ">
    <form method="post" novalidate>

    {% load crispy_forms_tags %} 
        {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
        <div>
            <a href="{% url 'feedview' %"}><button type="submit" class="btn btn-success">Submit</button></a>
            <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
